# Taobao User Behaviour (SQL)

## 1 - 项目简介

### 1.1 项目背景

UserBehavior是阿里巴巴提供的一个淘宝用户行为数据集，包含了2017年11月25日至2017年12月3日之间，有行为的约一百万随机用户的所有行为（行为包括点击、购买、加购、喜欢）。数据集的组织形式和MovieLens-20M类似，即数据集的每一行表示一条用户行为，由用户ID、商品ID、商品类目ID、行为类型和时间戳组成，并以逗号分隔。

数据集地址：[User Behavior Data from Taobao](https://tianchi.aliyun.com/dataset/dataDetail?dataId=649)

<html>
<p><strong>关于数据集中每一列的详细描述如下：</strong></p>

<table align="left">

<thead>    
<tr>
    <th style="text-align:center">列名称</th>
    <th style="text-align:center">中文列名称</th>
    <th style="text-align:center">说明</th>
</tr>
</thead> 
    
<tbody>
<tr>
    <td style="text-align:left">user_id</td>
    <td style="text-align:left">用户ID</td>
    <td style="text-align:left">整数类型，序列化后的用户ID</td>
</tr>
<tr>
    <td style="text-align:left">item_id</td>
    <td style="text-align:left">商品ID</td>
    <td style="text-align:left">整数类型，序列化后的商品ID</td>
</tr>
<tr>
    <td style="text-align:left">category_id</td>
    <td style="text-align:left">商品类目ID</td>
    <td style="text-align:left">整数类型，序列化后的商品所属类目ID</td>
</tr>
<tr>
    <td style="text-align:left">behavior_type</td>
    <td style="text-align:left">行为类型</td>
    <td style="text-align:left">字符串，枚举类型，包括('pv', 'buy', 'cart', 'fav')</td>
</tr>
<tr>
    <td style="text-align:left">timestamp</td>
    <td style="text-align:left">时间戳</td>
    <td style="text-align:left">行为发生的时间戳</td>
</tr>
</tbody>
    
</table>
</html>

<html>
<p><strong>用户行为类型共有四种，它们分别是：</strong></p>

<table align="left">

<thead>
<tr> 
    <th style="text-align:center">行为类型</th>
    <th style="text-align:center">说明</th>
</tr>
</thead>

<tbody>
<tr>
    <td style="text-align:left">pv</td>
    <td style="text-align:left">商品详情页pv，等价于点击</td>
</tr>
<tr>
    <td style="text-align:left">buy</td>
    <td style="text-align:left">商品购买</td>
</tr>
<tr>
    <td style="text-align:left">cart</td>
    <td style="text-align:left">将商品加入购物车</td>
</tr>
<tr>
    <td style="text-align:left">fav</td>
    <td style="text-align:left">收藏商品</td>
</tr>
</tbody>

</table>
</html>

### 1.2 分析目标

- 用户数据指标
    - 日新增用户（TODO）
    - 活跃率
    - 用户留存
    - 用户价值分析 (RFM)
- 行为数据指标
    - 流量指标 (PV, UV)
    - 转化率
- 产品数据指标
    - 付费率
    - 复购率
    - 热销商品

## 2 - 数据读入与检查

In [4]:
%load_ext sql
%sql mysql+pymysql://analyst:datainsight@localhost:3306/da_projects
# %config SqlMagic
%config SqlMagic.displaycon=False

In [2]:
%%sql

SELECT *
FROM taobao_user_behavior
LIMIT 5

5 rows affected.

[('1', '2268318', '2520377', 'pv', '1511544070'),
 ('1', '2333346', '2520771', 'pv', '1511561733'),
 ('1', '2576651', '149192', 'pv', '1511572885'),
 ('1', '3830808', '4181361', 'pv', '1511593493'),
 ('1', '4365585', '2520377', 'pv', '1511596146')]

In [3]:
%%sql

SELECT COUNT(*)
FROM taobao_user_behavior

1 rows affected.

[(100095231,)]

## 3 - 数据预处理

In [4]:
%%sql

DELETE
FROM
  taobao_user_behavior
WHERE
  `timestamp` < UNIX_TIMESTAMP("2017-11-25")
  OR `timestamp` > (UNIX_TIMESTAMP("2017-12-04")-1)

0 rows affected.

[]

In [5]:
%%sql

SELECT
  FROM_UNIXTIME(timestamp, "%Y-%m-%d") AS ub_date,
  COUNT(*)
FROM
  taobao_user_behavior
GROUP BY
  ub_date
ORDER BY
  ub_date

9 rows affected.

[('2017-11-25', 10420015),
 ('2017-11-26', 10664602),
 ('2017-11-27', 10101147),
 ('2017-11-28', 9878190),
 ('2017-11-29', 10284073),
 ('2017-11-30', 10447740),
 ('2017-12-01', 10859436),
 ('2017-12-02', 13777869),
 ('2017-12-03', 13662159)]

## a4 - 用户数据指标

### a4.1 新增用户

In [6]:
%%sql

SELECT
  FROM_UNIXTIME(first, "%Y-%m-%d") AS ub_date,
  COUNT(*) AS new_user
FROM
    (
    SELECT
      user_id,
      MIN(timestamp) AS first
    FROM taobao_user_behavior
    GROUP BY user_id) first_visit
GROUP BY
  ub_date

9 rows affected.

[('2017-11-25', 706641),
 ('2017-11-28', 31331),
 ('2017-11-26', 158188),
 ('2017-11-29', 17931),
 ('2017-11-27', 63825),
 ('2017-11-30', 9801),
 ('2017-12-02', 18),
 ('2017-12-01', 255),
 ('2017-12-03', 1)]

### 4.2 活跃率 (DAU)

#### 4.2.1 按天

In [12]:
%%sql

SELECT
  FROM_UNIXTIME(timestamp, "%Y-%m-%d") AS ub_date,
  COUNT(DISTINCT user_id) AS DAU, 
  COUNT(user_id) AS behaviour_count,
  SUM(CASE WHEN behavior_type = 'pv' THEN 1 ELSE 0 END) AS user_pv,
  SUM(CASE WHEN behavior_type = 'fav' THEN 1 ELSE 0 END) AS user_fav,
  SUM(CASE WHEN behavior_type = 'cart' THEN 1 ELSE 0 END) AS user_cart,
  SUM(CASE WHEN behavior_type = 'buy' THEN 1 ELSE 0 END) AS user_buy
FROM
  taobao_user_behavior
GROUP BY
  ub_date
ORDER BY
  ub_date

9 rows affected.

[('2017-11-25', 706641, 10420015, Decimal('9353423'), Decimal('302071'), Decimal('563376'), Decimal('201145')),
 ('2017-11-26', 715516, 10664602, Decimal('9567423'), Decimal('308954'), Decimal('582581'), Decimal('205644')),
 ('2017-11-27', 710094, 10101147, Decimal('9041187'), Decimal('291221'), Decimal('541904'), Decimal('226835')),
 ('2017-11-28', 709257, 9878190, Decimal('8842933'), Decimal('289100'), Decimal('534157'), Decimal('212000')),
 ('2017-11-29', 718922, 10284073, Decimal('9210821'), Decimal('298587'), Decimal('551593'), Decimal('223072')),
 ('2017-11-30', 730597, 10447740, Decimal('9358998'), Decimal('302264'), Decimal('565015'), Decimal('221463')),
 ('2017-12-01', 740139, 10859436, Decimal('9718959'), Decimal('307115'), Decimal('623346'), Decimal('210016')),
 ('2017-12-02', 970401, 13777869, Decimal('12329644'), Decimal('396749'), Decimal('793569'), Decimal('257907')),
 ('2017-12-03', 966977, 13662159, Decimal('12237300'), Decimal('392197'), Decimal('774905'), Decimal('257757'))]

#### 4.2.2 按小时

In [34]:
%%sql

SELECT
  FROM_UNIXTIME(timestamp, "%H") AS ub_hour,
  COUNT(user_id) AS behaviour_count,
  SUM(CASE WHEN behavior_type = 'pv' THEN 1 ELSE 0 END) AS user_pv,
  SUM(CASE WHEN behavior_type = 'fav' THEN 1 ELSE 0 END) AS user_fav,
  SUM(CASE WHEN behavior_type = 'cart' THEN 1 ELSE 0 END) AS user_cart,
  SUM(CASE WHEN behavior_type = 'buy' THEN 1 ELSE 0 END) AS user_buy
FROM
  taobao_user_behavior
GROUP BY
  ub_hour
ORDER BY
  ub_hour

24 rows affected.

[('00', 3402200, Decimal('3056936'), Decimal('105681'), Decimal('181807'), Decimal('57776')),
 ('01', 1581628, Decimal('1421673'), Decimal('51374'), Decimal('85412'), Decimal('23169')),
 ('02', 855227, Decimal('769269'), Decimal('27791'), Decimal('46155'), Decimal('12012')),
 ('03', 583954, Decimal('524992'), Decimal('18384'), Decimal('32552'), Decimal('8026')),
 ('04', 499706, Decimal('449628'), Decimal('14793'), Decimal('28537'), Decimal('6748')),
 ('05', 646085, Decimal('581694'), Decimal('18992'), Decimal('37264'), Decimal('8135')),
 ('06', 1366496, Decimal('1226653'), Decimal('40524'), Decimal('81305'), Decimal('18014')),
 ('07', 2488350, Decimal('2228959'), Decimal('74666'), Decimal('147046'), Decimal('37679')),
 ('08', 3403016, Decimal('3042342'), Decimal('103721'), Decimal('192036'), Decimal('64917')),
 ('09', 4182498, Decimal('3728498'), Decimal('127976'), Decimal('229890'), Decimal('96134')),
 ('10', 4877458, Decimal('4334810'), Decimal('147752'), Decimal('266963'), Decimal('127933')),
 ('11', 4741809, Decimal('4213518'), Decimal('145412'), Decimal('260831'), Decimal('122048')),
 ('12', 4771058, Decimal('4255794'), Decimal('140862'), Decimal('255811'), Decimal('118591')),
 ('13', 5208034, Decimal('4653934'), Decimal('150844'), Decimal('279829'), Decimal('123427')),
 ('14', 5189882, Decimal('4642056'), Decimal('148561'), Decimal('277093'), Decimal('122172')),
 ('15', 5365029, Decimal('4806706'), Decimal('151321'), Decimal('284269'), Decimal('122733')),
 ('16', 5151948, Decimal('4607745'), Decimal('148722'), Decimal('279035'), Decimal('116446')),
 ('17', 4697671, Decimal('4203397'), Decimal('137631'), Decimal('255342'), Decimal('101301')),
 ('18', 4795878, Decimal('4313516'), Decimal('133262'), Decimal('253193'), Decimal('95907')),
 ('19', 6021741, Decimal('5430878'), Decimal('161057'), Decimal('314774'), Decimal('115032')),
 ('20', 7304809, Decimal('6586331'), Decimal('191406'), Decimal('393209'), Decimal('133863')),
 ('21', 8369714, Decimal('7538383'), Decimal('219974'), Decimal('465924'), Decimal('145433')),
 ('22', 8299812, Decimal('7443073'), Decimal('232222'), Decimal('486249'), Decimal('138268')),
 ('23', 6291228, Decimal('5599903'), Decimal('195330'), Decimal('395920'), Decimal('100075'))]

### a4.3 用户留存

#### 4.3.1 留存率表

首先确认此时间范围是 2017-11-25 到 2017-12-03  
第一天为 2017-11-25

In [14]:
%%sql

WITH first_day_user AS
(
SELECT DISTINCT user_id
FROM taobao_user_behavior
WHERE FROM_UNIXTIME(timestamp, "%Y-%m-%d") = '2017-11-25'
)

SELECT
  FROM_UNIXTIME(timestamp, "%Y-%m-%d") AS ub_date,
  COUNT(DISTINCT user_id) AS user_count,
  ROUND((COUNT(DISTINCT user_id)/
  (SELECT COUNT(DISTINCT user_id)
  FROM taobao_user_behavior
  WHERE FROM_UNIXTIME(timestamp, "%Y-%m-%d") = '2017-11-25'))*100, 2) AS `retention_rate(%)`
FROM
  taobao_user_behavior
WHERE
  user_id IN (SELECT * FROM first_day_user)
GROUP BY
  ub_date

9 rows affected.

[('2017-11-25', 706641, Decimal('100.00')),
 ('2017-11-26', 557328, Decimal('78.87')),
 ('2017-11-27', 542838, Decimal('76.82')),
 ('2017-11-28', 536463, Decimal('75.92')),
 ('2017-11-29', 537610, Decimal('76.08')),
 ('2017-11-30', 541422, Decimal('76.62')),
 ('2017-12-01', 546087, Decimal('77.28')),
 ('2017-12-02', 696406, Decimal('98.55')),
 ('2017-12-03', 694326, Decimal('98.26'))]

七天留存率为 ()  
反映出平台的用户依赖性较高，也因平台发展已经到达稳定阶段，用户保留率不会发生较大波动，

#### 4.3.2 次日和7日留存

In [5]:
%%sql

SELECT *
FROM taobao_user_behavior
LIMIT 10

10 rows affected.

[('1', '2268318', '2520377', 'pv', '1511544070'),
 ('1', '2333346', '2520771', 'pv', '1511561733'),
 ('1', '2576651', '149192', 'pv', '1511572885'),
 ('1', '3830808', '4181361', 'pv', '1511593493'),
 ('1', '4365585', '2520377', 'pv', '1511596146'),
 ('1', '4606018', '2735466', 'pv', '1511616481'),
 ('1', '230380', '411153', 'pv', '1511644942'),
 ('1', '3827899', '2920476', 'pv', '1511713473'),
 ('1', '3745169', '2891509', 'pv', '1511725471'),
 ('1', '1531036', '2920476', 'pv', '1511733732')]

In [8]:
%%sql

SELECT
  FROM_UNIXTIME(timestamp, "%Y-%m-%d") AS ub_date,
  COUNT(*) AS `次留人数`
FROM
(
SELECT
  DISTINCT A.user_id,
  B.first,
  A.timestamp
FROM
  taobao_user_behavior A,
  (SELECT
     user_id,
     MIN(timestamp) AS first
   FROM taobao_user_behavior
   GROUP BY user_id) B
WHERE
  A.user_id = B.user_id
  AND DATEDIFF(FROM_UNIXTIME(B.first), FROM_UNIXTIME(A.timestamp))=1
) C

GROUP BY ub_date
ORDER BY ub_date

0 rows affected.

[]

### a4.4 用户价值分析 (RFM)

- 采用 Recency-Frequency-Monetary(RFM) 模型进行分析
- 数据集中没有 money 值，因此只分析 R 和 F
- 假设分析日期为 2017 年 12 月 4日

In [47]:
%%sql

WITH RF AS
(
SELECT
  user_id,
  DATEDIFF("2017-12-04", FROM_UNIXTIME(MAX(timestamp), "%Y-%m-%d")) AS days_to_last_buy_R,
  COUNT(behavior_type) AS buy_frequency_F
FROM
  taobao_user_behavior
WHERE
  behavior_type = 'buy'
GROUP BY
  user_id
)


SELECT AVG(days_to_last_buy_R) INTO @avg_R
FROM RF;


SELECT
  *,
  CASE WHEN days_to_last_buy_R < @avg_R THEN 'high' ELSE 'low' END
FROM
  RF
LIMIT 10

1 rows affected.
(pymysql.err.ProgrammingError) (1146, "Table 'da_projects.rf' doesn't exist")
[SQL: SELECT
  *,
  CASE WHEN days_to_last_buy_R < @avg_R THEN 'high' ELSE 'low' END
FROM
  RF
LIMIT 10]
(Background on this error at: http://sqlalche.me/e/13/f405)

In [54]:
%%sql

WITH RF AS
(
SELECT
  user_id,
  DATEDIFF("2017-12-04", FROM_UNIXTIME(MAX(timestamp), "%Y-%m-%d")) AS days_to_last_buy_R,
  COUNT(behavior_type) AS buy_frequency_F
FROM
  taobao_user_behavior
WHERE
  behavior_type = 'buy'
GROUP BY
  user_id
)


SELECT AVG(days_to_last_buy_R) INTO @avg_R
FROM RF;


SELECT
  *,
  (CASE WHEN days_to_last_buy_R < @avg_R THEN 1 ELSE 0 END) AS status
FROM
  RF
LIMIT 10

1 rows affected.
(pymysql.err.ProgrammingError) (1146, "Table 'da_projects.rf' doesn't exist")
[SQL: SELECT
  *,
  (CASE WHEN days_to_last_buy_R < @avg_R THEN 1 ELSE 0 END) AS status
FROM
  RF
LIMIT 10]
(Background on this error at: http://sqlalche.me/e/13/f405)

In [62]:
%%sql

WITH 
RF AS
(
SELECT
  user_id,
  DATEDIFF("2017-12-04", FROM_UNIXTIME(MAX(timestamp), "%Y-%m-%d")) AS days_to_last_buy_R,
  COUNT(behavior_type) AS buy_frequency_F
FROM
  taobao_user_behavior
WHERE
  behavior_type = 'buy'
GROUP BY
  user_id
),

avg_RF AS
(
SELECT
  AVG(days_to_last_buy_R) AS avg_R,
  AVG(buy_frequency_F) AS avg_F
FROM RF
),

RF_score AS
(
SELECT
  *,
  (CASE WHEN days_to_last_buy_R < (SELECT avg_R FROM avg_RF) THEN 'high' ELSE 'low' END) AS R_score,
  (CASE WHEN buy_frequency_F < (SELECT avg_F FROM avg_RF) THEN 'low' ELSE 'high' END) AS F_score
FROM
  RF
),

user_value AS
(
SELECT
  *,
  (CASE WHEN R_score = 'high' AND F_score = 'high' THEN "价值用户"
        WHEN R_score = 'high' AND F_score = 'low' THEN "发展用户"
        WHEN R_score = 'low' AND F_score = 'high' THEN "保持用户"
        WHEN R_score = 'low' AND F_score = 'low' THEN "挽留用户"
        ELSE NULL
  END) AS user_level
FROM RF_score
)

SELECT
  user_level,
  COUNT(user_id) AS user_count,
  ROUND(COUNT(user_id)*100/(SELECT COUNT(*) FROM user_value), 2) AS `ratio(%)`
FROM
  user_value
GROUP BY
  user_level
ORDER BY
  user_count DESC

4 rows affected.

[('价值用户', 208314, Decimal('30.98')),
 ('挽留用户', 208173, Decimal('30.96')),
 ('发展用户', 177613, Decimal('26.41')),
 ('保持用户', 78304, Decimal('11.65'))]

## a5 - 行为数据指标

### a5.1 流量指标 (PV, UV)

- 总访问量 (PV)
- 总访客数 (UV)
- 消费用户数 (user_pay)
- 日均访问量 (pv_per_day)
- 人均访问量 (pv_per_user) : PV/UV
- 消费用户数占比 (user_pay_rate) user_pay/UV

In [7]:
%%sql

SELECT
  COUNT(user_id) AS `PV`,
  COUNT(DISTINCT user_id) AS `UV`,
  COUNT(DISTINCT (CASE WHEN behavior_type = 'buy' THEN user_id ELSE NULL END)) AS `user_pay`,
  COUNT(user_id)/COUNT(DISTINCT FROM_UNIXTIME(timestamp, "%Y-%m-%d")) AS pv_per_day,
  COUNT(user_id)/COUNT(DISTINCT user_id) AS pv_per_user,
  COUNT(DISTINCT (CASE WHEN behavior_type = 'buy' THEN user_id ELSE NULL END))/COUNT(DISTINCT user_id) AS user_pay_rate
FROM
  taobao_user_behavior

1 rows affected.

[(100095231, 987991, 672404, Decimal('11121692.3333'), Decimal('101.3119'), Decimal('0.6806'))]

消费用户人均访问量和总访问量占比都在平均值以上，有过消费记录的用户更愿意在网站上花费更多时间，说明网站的购物体验尚可，老用户对网站有一定依赖性，对没有过消费记录的用户要让快速了解产品的使用方法和价值，加强用户和平台的黏连

### 4.2 跳失率

跳失率：只进行了一次操作就离开的用户数/总用户数

In [32]:
%%sql

WITH behavior_count AS
(
SELECT
  user_id,
  COUNT(*) AS behavior_count
FROM
  taobao_user_behavior
GROUP BY
  user_id
HAVING
  behavior_count = 1
)

(SELECT COUNT(user_id) FROM behavior_count)/(SELECT COUNT(DISTINCT user_id FROM taobao_user_behavior))

(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '/(SELECT COUNT(DISTINCT user_id FROM taobao_user_behavior))' at line 13")
[SQL: WITH behavior_count AS (
SELECT
  user_id,
  COUNT(*) AS behavior_count
FROM
  taobao_user_behavior
GROUP BY
  user_id
HAVING
  behavior_count = 1
)

(SELECT COUNT(user_id) FROM behavior_count)/(SELECT COUNT(DISTINCT user_id FROM taobao_user_behavior))]
(Background on this error at: http://sqlalche.me/e/13/f405)

### a5.2 转化率

用户整体行为中，有89.71%行为为浏览，实际支付操作仅占2.1%,除此之外，用户收藏的行为占比也较低，应当增强网站有用户之间的互动，提高收藏率。

In [13]:
%%sql

SELECT
  behavior_type,
  COUNT(user_id) AS num_count,
  ROUND(COUNT(user_id)*100/
        (SELECT COUNT(*) FROM taobao_user_behavior),2) AS `rate(%)`
FROM
  taobao_user_behavior
GROUP BY
  behavior_type
ORDER BY
  num_count DESC

4 rows affected.

[('pv', 89660688, Decimal('89.58')),
 ('cart', 5530446, Decimal('5.53')),
 ('fav', 2888258, Decimal('2.89')),
 ('buy', 2015839, Decimal('2.01'))]

## a6 - 产品数据指标

### a6.1 付费率

### a6.2 复购率

In [22]:
%%sql

WITH user_buy_count AS
(
SELECT
  user_id,
  COUNT(*) AS buy_frequency
FROM
  taobao_user_behavior
WHERE
  behavior_type = 'buy'
GROUP BY
  user_id
ORDER BY
  buy_frequency DESC
)

SELECT
  SUM(CASE WHEN buy_frequency >= 2 THEN 1 ELSE 0 END) / 
    SUM(CASE WHEN buy_frequency > 0 THEN 1 ELSE 0 END) AS `re_buy_rate` 
FROM
  user_buy_count

1 rows affected.

[(Decimal('0.6601'),)]

### a6.3 产品销售分析

item_id  
category_id

### 9.1 商品总数

In [15]:
%%sql

SELECT COUNT(DISTINCT item_id)
FROM taobao_user_behavior

1 rows affected.

[(4161138,)]

In [16]:
%%sql

SELECT COUNT(DISTINCT category_id)
FROM taobao_user_behavior

1 rows affected.

[(9437,)]

### 9.2 平均每个客户购买的种类数

In [17]:
%%sql


SELECT
  AVG(buy_count)
FROM
(
SELECT
  user_id,
  COUNT(DISTINCT category_id) AS buy_count
FROM
  taobao_user_behavior
WHERE
  behavior_type = 'buy'
GROUP BY
  user_id
) buy_count

1 rows affected.

[(Decimal('2.6214'),)]

### 9.3 畅销种类

In [21]:
%%sql

SELECT
  category_id,
  COUNT(behavior_type) AS sale_num
FROM
  taobao_user_behavior
WHERE
  behavior_type = 'buy'
GROUP BY
  category_id
ORDER BY
  sale_num DESC
LIMIT 20

20 rows affected.

[('1464116', 34591),
 ('2735466', 33730),
 ('2885642', 31844),
 ('4145813', 31658),
 ('4756105', 28258),
 ('4801426', 26495),
 ('982926', 24825),
 ('2640118', 18332),
 ('4159072', 18016),
 ('1320293', 17137),
 ('3002561', 16472),
 ('4357323', 15854),
 ('4789432', 15696),
 ('903809', 15447),
 ('4217906', 14442),
 ('1299190', 13723),
 ('570735', 13711),
 ('2465336', 13350),
 ('1879194', 12868),
 ('3607361', 12721)]

### 9.4 商品被购前产生平均操作次数

In [19]:
%%sql

WITH buy_item AS
(
  SELECT DISTINCT item_id
  FROM taobao_user_behavior
  WHERE behavior_type = 'buy'
)

SELECT
  *,
  ROUND(all_behavior/buy, 2) AS avg_veha
FROM
(
SELECT
  item_id,
  SUM(CASE WHEN behavior_type="pv" THEN 1 ELSE 0 END) AS pv,
  SUM(CASE WHEN behavior_type="fav" THEN 1 ELSE 0 END) AS fav,
  SUM(CASE WHEN behavior_type="cart" THEN 1 ELSE 0 END) AS cart,
  SUM(CASE WHEN behavior_type="buy" THEN 1 ELSE 0 END) AS buy,
  COUNT(behavior_type) AS all_behavior
FROM
  taobao_user_behavior
WHERE
  item_id IN (SELECT * FROM buy_item)
GROUP BY
  item_id
) item_hehavior

LIMIT 20

20 rows affected.

[('2268318', Decimal('1601'), Decimal('55'), Decimal('73'), Decimal('8'), 1737, Decimal('217.13')),
 ('2333346', Decimal('238'), Decimal('9'), Decimal('15'), Decimal('22'), 284, Decimal('12.91')),
 ('3830808', Decimal('49'), Decimal('5'), Decimal('2'), Decimal('1'), 57, Decimal('57.00')),
 ('4365585', Decimal('988'), Decimal('23'), Decimal('44'), Decimal('4'), 1059, Decimal('264.75')),
 ('230380', Decimal('1141'), Decimal('71'), Decimal('70'), Decimal('8'), 1290, Decimal('161.25')),
 ('2951368', Decimal('260'), Decimal('18'), Decimal('16'), Decimal('5'), 299, Decimal('59.80')),
 ('1338525', Decimal('66'), Decimal('2'), Decimal('3'), Decimal('1'), 72, Decimal('72.00')),
 ('2734026', Decimal('1358'), Decimal('69'), Decimal('78'), Decimal('8'), 1513, Decimal('189.13')),
 ('3239041', Decimal('37'), Decimal('1'), Decimal('1'), Decimal('1'), 40, Decimal('40.00')),
 ('4152983', Decimal('227'), Decimal('9'), Decimal('7'), Decimal('1'), 244, Decimal('244.00')),
 ('1305059', Decimal('597'), Decimal('21'), Decimal('45'), Decimal('9'), 672, Decimal('74.67')),
 ('2087357', Decimal('613'), Decimal('26'), Decimal('33'), Decimal('4'), 676, Decimal('169.00')),
 ('3157558', Decimal('59'), Decimal('4'), Decimal('8'), Decimal('2'), 73, Decimal('36.50')),
 ('1340922', Decimal('648'), Decimal('25'), Decimal('57'), Decimal('11'), 741, Decimal('67.36')),
 ('3911125', Decimal('82'), Decimal('4'), Decimal('9'), Decimal('1'), 96, Decimal('96.00')),
 ('4954999', Decimal('2664'), Decimal('167'), Decimal('269'), Decimal('17'), 3117, Decimal('183.35')),
 ('4198227', Decimal('18'), Decimal('2'), Decimal('3'), Decimal('1'), 24, Decimal('24.00')),
 ('2041056', Decimal('539'), Decimal('14'), Decimal('52'), Decimal('7'), 612, Decimal('87.43')),
 ('3219016', Decimal('64'), Decimal('0'), Decimal('2'), Decimal('1'), 67, Decimal('67.00')),
 ('2028434', Decimal('3057'), Decimal('93'), Decimal('270'), Decimal('59'), 3479, Decimal('58.97'))]